<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        IPT Calculator
    </title>
    <style>
    </style>
</head>
<h1><a href={{ url_for('main_get') }}> IPT Calculator </a></h1>
    <a href='https://github.com/seungwoo-h/ipt_calculator'> Github Repository </a>
<body>
    <div>
        <h3>YTM to Forward Rate</h3>
        <form method="GET" action="/calc_ytm_to_fr">
            <div>
                <label for="ytm_lst"> [YTMs] seperate with (,) </label>
                <input type="text" name="ytm_lst">
            </div>
            <div class='button'>
                <button type="submit">Calculate</button>
            </div>
        </form>
        <br>
            <div>
            {{ result4 }}
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
            </div>
    </div>
    <div>
        <h3>Prices to YTM and Forward Rate</h3>
        <form method="GET" action="/calc_prices_to_ytm_fr">
            <div>
                <label for="price_lst"> [PRICEs] seperate with (,) </label>
                <input type="text" name="price_lst">
            </div>
            <div class='button'>
                <button type="submit">Calculate</button>
            </div>
        </form>
        <br>
            <div>
            {{ result5 }}
            {% for table in tables2 %}
            {{ table|safe }}
            {% endfor %}
            </div>
    </div>
    <div>
        <h3>Duration & Convexity Table</h3>
        <form method="GET" action="/calc_duration_convexity">
            <div>
                <label for="y_value"> y </label>
                <input type="text" name="y_value" size="8">
            </div>
            <div>
                <label for="T"> T </label>
                <input type="text" name="T" size="8">
            </div>
            <div>
                <label for="face_value"> face value </label>
                <input type="text" name="face_value" size="8">
            </div>
            <div>
                <label for="c_rate_or_payment"> Coupon rate OR Coupon payment </label>
                <input type="text" name="c_rate_or_payment" size="8">
            </div>
            <div class='button'>
                <button type="submit">Calculate</button>
            </div>
        </form>
        <br>
            <div>
            {{ result6 }}
            {{ duration }}
            {{ convexity}}
            {% for table in tables3 %}
            {{ table|safe }}
            {% endfor %}
            
            </div>
    </div>
    <div>
        <h3>Bond portfolio weights and amount</h3>
        <form method="GET" action="/calc_p_weights_amount">
            <div>
                <label for="d_liability"> Duration liability </label>
                <input type="text" name="d_liability" size="8">
            </div>
            <div>
                <label for="d_a"> Duration 1st Bond </label>
                <input type="text" name="d_a" size="8">
            </div>
            <div>
                <label for="d_b"> Duration 2nd Bond </label>
                <input type="text" name="d_b" size="8">
            </div>
            <div>
                <label for="pv_l"> PV Liability </label>
                <input type="text" value='Click & leave this as 1 if not needed' onfocus="this.value=1" name="pv_l" size="30">
            </div>
            <div class='button'>
                <button type="submit">Calculate</button>
            </div>
        </form>
        <br>
            <div>
            {{ result7 }}
            </div>
    </div>
    <div>
        <h3>Markowitz Weights</h3>
        <form method="GET" action="/calc_markowitz_weights">
            <div>
                <input type="radio" name="options" id="option1" value="option1"> Min. Variance - 2 risky <br> [REQUIRED: std. dev, cov or coef] </input><br>
                <input type="radio" name="options" id="option2" value="option2"> Optimal - 2 risky & no risk-free <br> [REQUIRED: std. dev, E(r), coef, A]  </input><br>
                <input type="radio" name="options" id="option3" value="option3"> Optimal - 2 risky & 1 risk-free <input type="checkbox" name="c_option" value="c_option"> (Get complete weights) <br> [REQUIRED: std. dev, E(R), cov or coef, (A, rf: optional)] </input> 
                
                <br>
            </div>
            <div>
                <label for="er_1"> E(r1) </label>
                <input type="text" name="er_1" size="8">

                <label for="er_2"> E(r2) </label>
                <input type="text" name="er_2" size="8">
            </br>
                <label for="eR_1"> E(R1) </label>
                <input type="text" name="eR_1" size="8">

                <label for="eR_2"> E(R2) </label>
                <input type="text" name="eR_2" size="8">
            </br>
                <label for="std_1"> std. dev 1 </label>
                <input type="text" name="std_1" size="8">

                <label for="std_2"> std. dev 2 </label>
                <input type="text" name="std_2" size="8">
            </br>
                <input type="radio" name="coef_or_cov" id="coef" value="coef"> Coef </input>
                <input type="radio" name="coef_or_cov" id="cov" value="cov"> Cov </input>
                <label for="coc_val"> </label>
                <input type="text" name="coc_val" size="8">
            </br>
                <label for="A_val"> A </label>
                <input type="text" name="A_val" size="8">
                <label for="rf"> rf </label> 
                <input type="text" name="rf" size="8">
            </div>
            <div class='button'>
                <button type="submit">Calculate</button>
            </div>
        </form>
        <br>
            <div>
            {{ result8 }}
            </div>
    </div>
    <div>
        <h3>Portfolio risk (two assets)</h3>
        <form method="GET" action="/calc_portfolio_risk_two_assets">
            <div>
                <input type="radio" name="coef_or_cov" id="coef" value="coef"> Coef </input>
                <input type="radio" name="coef_or_cov" id="cov" value="cov"> Cov </input>
                <label for="coc_val"> </label>
                <input type="text" name="coc_val" size="8">
            </div>
            <div>
                <label for="w1"> w1 </label> 
                <input type="text" name="w1" size="8">
                <label for="w2"> w2 </label> 
                <input type="text" name="w2" size="8">
            </br>
                <label for="std_1"> std. dev 1 </label>
                <input type="text" name="std_1" size="8">
                <label for="std_2"> std. dev 2 </label>
                <input type="text" name="std_2" size="8">
            </div>
            <div class='button'>
                <button type="submit">Calculate</button>
            </div>
        </form>
        <br>
            <div>
            {{ result9 }}
            </div>
    </div>
    <div>
        <h3>Treynor-Black Procedure</h3>
        <form method="GET" action="/tb_procedure">
            <div>
                <label for="alpha_lst"> [Alphas] seperate with (,) </label>
                <input type="text" name="alpha_lst">
            </div>
            <div>
                <label for="sd_lst"> [Std. Devs] seperate with (,) </label>
                <input type="text" name="sd_lst">
            </div>
            <div>
                <label for="beta_lst"> [Betas] seperate with (,) </label>
                <input type="text" name="beta_lst">
            </div>
            <div>
                <label for="eR_M"> E(Rm) </label>
                <input type="text" name="eR_M" size="8">
            </div>
            <div>
                <label for="sd_M"> Std. Dev M </label>
                <input type="text" name="sd_M" size="8">
            </div>
            <div>
                <label for="A_val"> A (optional) </label>
                <input type="text" name="A_val" size="8">
            </div>
            <div class='button'>
                <button type="submit">Calculate</button>
            </div>
        </form>
        <br>
            <div>
                {{ result10 }}
                {% for table in tables4 %}
                {{ table|safe }}
                <br>
                {% endfor %}
            </div>
    </div>
    </div>
</body>
</html>
